# Enable URL rewriting
RewriteEngine On 

# Set the base URL for rewrite rules
RewriteBase /php_oop/

# Allow direct access to the public/images files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/php_oop/public/images/ [NC]
RewriteRule .* - [L]

# Allow direct access to the public/js files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/php_oop/public/js/ [NC]
RewriteRule .* - [L]

# Allow direct access to the public/css files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/php_oop/public/css/ [NC]
RewriteRule .* - [L]

# Allow direct access to the storage/images files
RewriteCond %{REQUEST_URI} ^/php_oop/storage/images/ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* - [L]

# Rewrite all other requests to public/index.php
RewriteRule ^(.*)$ public/index.php [L]